@using mtask.Models.InputModel
@model SprintAddStoryInputModel
@{
    ViewBag.Title = "ストーリー追加";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="LogonForm">
            @using (Html.BeginForm("AddStory", "Sprint", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>スプリントに追加するストーリーを選択してください。</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedStoryId, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SelectedStoryId, Model.Stories, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedStoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.SprintId)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="保存" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}